# microk8s ctr image ls
# --classic --channel=1.24/stable

REF                                                                                                                            TYPE                                                      DIGEST                                                                  SIZE      PLATFORMS                                                                  LABELS                          
docker.io/calico/cni:v3.21.4                                                                                                   application/vnd.docker.distribution.manifest.list.v2+json sha256:36acb85e6080a3a894ea5f92f20dabd1179061f5ecb079a49913bbdfb714ad09 76.8 MiB  linux/amd64,linux/arm/v7,linux/arm64,linux/ppc64le                         io.cri-containerd.image=managed 
docker.io/calico/cni@sha256:36acb85e6080a3a894ea5f92f20dabd1179061f5ecb079a49913bbdfb714ad09                                   application/vnd.docker.distribution.manifest.list.v2+json sha256:36acb85e6080a3a894ea5f92f20dabd1179061f5ecb079a49913bbdfb714ad09 76.8 MiB  linux/amd64,linux/arm/v7,linux/arm64,linux/ppc64le                         io.cri-containerd.image=managed 
docker.io/calico/kube-controllers:v3.21.4                                                                                      application/vnd.docker.distribution.manifest.list.v2+json sha256:f71a293e43f66c8f3d2435a3d56ed53cbb1bcf539dcfe7fe2cc64d4258f4f792 52.1 MiB  linux/amd64,linux/arm/v7,linux/arm64,linux/ppc64le                         io.cri-containerd.image=managed 
docker.io/calico/kube-controllers@sha256:f71a293e43f66c8f3d2435a3d56ed53cbb1bcf539dcfe7fe2cc64d4258f4f792                      application/vnd.docker.distribution.manifest.list.v2+json sha256:f71a293e43f66c8f3d2435a3d56ed53cbb1bcf539dcfe7fe2cc64d4258f4f792 52.1 MiB  linux/amd64,linux/arm/v7,linux/arm64,linux/ppc64le                         io.cri-containerd.image=managed 
docker.io/calico/node:v3.21.4                                                                                                  application/vnd.docker.distribution.manifest.list.v2+json sha256:acb402642ba8a9a28eda86d9cd3eef97976dd339c11e33863faeae4e00682e12 70.6 MiB  linux/amd64,linux/arm/v7,linux/arm64,linux/ppc64le                         io.cri-containerd.image=managed 
docker.io/calico/node@sha256:acb402642ba8a9a28eda86d9cd3eef97976dd339c11e33863faeae4e00682e12                                  application/vnd.docker.distribution.manifest.list.v2+json sha256:acb402642ba8a9a28eda86d9cd3eef97976dd339c11e33863faeae4e00682e12 70.6 MiB  linux/amd64,linux/arm/v7,linux/arm64,linux/ppc64le                         io.cri-containerd.image=managed 
docker.io/calico/pod2daemon-flexvol:v3.21.4                                                                                    application/vnd.docker.distribution.manifest.list.v2+json sha256:baeaa86e59194d2707be3b708b5ef157fe09738605bdabffc5a4a7cc7560b7d7 8.8 MiB   linux/amd64,linux/arm/v7,linux/arm64,linux/ppc64le                         io.cri-containerd.image=managed 
docker.io/calico/pod2daemon-flexvol@sha256:baeaa86e59194d2707be3b708b5ef157fe09738605bdabffc5a4a7cc7560b7d7                    application/vnd.docker.distribution.manifest.list.v2+json sha256:baeaa86e59194d2707be3b708b5ef157fe09738605bdabffc5a4a7cc7560b7d7 8.8 MiB   linux/amd64,linux/arm/v7,linux/arm64,linux/ppc64le                         io.cri-containerd.image=managed 
docker.io/coredns/coredns:1.9.0                                                                                                application/vnd.docker.distribution.manifest.list.v2+json sha256:0f101fabf4b63883d4529435f75b1e8816dcc8915e8fa7d28aa6e50a15e9ea6a 13.4 MiB  linux/amd64,linux/arm,linux/arm64,linux/mips64le,linux/ppc64le,linux/s390x io.cri-containerd.image=managed 
docker.io/coredns/coredns@sha256:0f101fabf4b63883d4529435f75b1e8816dcc8915e8fa7d28aa6e50a15e9ea6a                              application/vnd.docker.distribution.manifest.list.v2+json sha256:0f101fabf4b63883d4529435f75b1e8816dcc8915e8fa7d28aa6e50a15e9ea6a 13.4 MiB  linux/amd64,linux/arm,linux/arm64,linux/mips64le,linux/ppc64le,linux/s390x io.cri-containerd.image=managed 
docker.io/directxman12/k8s-prometheus-adapter:v0.8.4                                                                           application/vnd.docker.distribution.manifest.list.v2+json sha256:b874cc7a126077cc062d698953450b8c459140dad53d65d6903c9f9489cb1afe 24.1 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
docker.io/directxman12/k8s-prometheus-adapter@sha256:b874cc7a126077cc062d698953450b8c459140dad53d65d6903c9f9489cb1afe          application/vnd.docker.distribution.manifest.list.v2+json sha256:b874cc7a126077cc062d698953450b8c459140dad53d65d6903c9f9489cb1afe 24.1 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
docker.io/grafana/grafana:7.5.4                                                                                                application/vnd.docker.distribution.manifest.list.v2+json sha256:ba39bf5131dcc0464134a3ff0e26e8c6380415249fa725e5f619176601255172 62.2 MiB  linux/amd64,linux/arm,linux/arm64                                          io.cri-containerd.image=managed 
docker.io/grafana/grafana@sha256:ba39bf5131dcc0464134a3ff0e26e8c6380415249fa725e5f619176601255172                              application/vnd.docker.distribution.manifest.list.v2+json sha256:ba39bf5131dcc0464134a3ff0e26e8c6380415249fa725e5f619176601255172 62.2 MiB  linux/amd64,linux/arm,linux/arm64                                          io.cri-containerd.image=managed 
docker.io/jimmidyson/configmap-reload:v0.5.0                                                                                   application/vnd.docker.distribution.manifest.list.v2+json sha256:904d08e9f701d3d8178cb61651dbe8edc5d08dd5895b56bdcac9e5805ea82b52 3.9 MiB   linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
docker.io/jimmidyson/configmap-reload@sha256:904d08e9f701d3d8178cb61651dbe8edc5d08dd5895b56bdcac9e5805ea82b52                  application/vnd.docker.distribution.manifest.list.v2+json sha256:904d08e9f701d3d8178cb61651dbe8edc5d08dd5895b56bdcac9e5805ea82b52 3.9 MiB   linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
docker.io/kubernetesui/dashboard:v2.3.0                                                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:11e006ccc6399880360f6bafaf8545892fe3c92959074297205937496f8baa86 63.8 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
docker.io/kubernetesui/dashboard@sha256:11e006ccc6399880360f6bafaf8545892fe3c92959074297205937496f8baa86                       application/vnd.docker.distribution.manifest.list.v2+json sha256:11e006ccc6399880360f6bafaf8545892fe3c92959074297205937496f8baa86 63.8 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
docker.io/kubernetesui/metrics-scraper:v1.0.6                                                                                  application/vnd.docker.distribution.manifest.list.v2+json sha256:1f977343873ed0e2efd4916a6b2f3075f310ff6fe42ee098f54fc58aa7a28ab7 14.4 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
docker.io/kubernetesui/metrics-scraper@sha256:1f977343873ed0e2efd4916a6b2f3075f310ff6fe42ee098f54fc58aa7a28ab7                 application/vnd.docker.distribution.manifest.list.v2+json sha256:1f977343873ed0e2efd4916a6b2f3075f310ff6fe42ee098f54fc58aa7a28ab7 14.4 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
k8s.gcr.io/cuda-vector-add:v0.1                                                                                                application/vnd.docker.distribution.manifest.v2+json      sha256:b011c0df5ecb46104ddf62d58ce6993d67c4843cbf3864aab68960a2c6aacac8 1.8 GiB   linux/amd64                                                                io.cri-containerd.image=managed 
k8s.gcr.io/ingress-nginx/controller:v1.2.0                                                                                     application/vnd.docker.distribution.manifest.v2+json      sha256:72ec82512d622434a33b3ab0706d5ce4665f50e2b2218516c01fdbbc9ecc2bd7 277.2 MiB linux/amd64                                                                io.cri-containerd.image=managed 
k8s.gcr.io/kube-state-metrics/kube-state-metrics:v2.0.0                                                                        application/vnd.docker.distribution.manifest.v2+json      sha256:d1b9f583181dbc96c92fbab17228f70f0b9c1e8950216e198802c580a81e5216 33.1 MiB  linux/amd64                                                                io.cri-containerd.image=managed 
k8s.gcr.io/metrics-server/metrics-server:v0.5.2                                                                                application/vnd.docker.distribution.manifest.v2+json      sha256:e8ac01de9bc19a6c49fc1caabf162cf1b23342188327846ee8c75b30dd72f57c 62.6 MiB  linux/amd64                                                                io.cri-containerd.image=managed 
k8s.gcr.io/nfd/node-feature-discovery:v0.8.2                                                                                   application/vnd.docker.distribution.manifest.v2+json      sha256:c1fe51202dad3b4d3124359afc5c6a7671a8d62f5c860dd780da48f75cc7f282 106.6 MiB linux/amd64                                                                io.cri-containerd.image=managed 
k8s.gcr.io/pause:3.1                                                                                                           application/vnd.docker.distribution.manifest.v2+json      sha256:0968e31df05b727234888883ba43ccaa4ec75566113c75065af5a6124b62d93c 729.0 KiB linux/amd64                                                                io.cri-containerd.image=managed 
nvcr.io/nvidia/cloud-native/dcgm:2.2.3-ubuntu20.04                                                                             application/vnd.docker.distribution.manifest.v2+json      sha256:b00df073280c63426086af665d7d78f398fc39a1582c683aa76ba8168c001ca5 254.1 MiB linux/amd64                                                                io.cri-containerd.image=managed 
nvcr.io/nvidia/cloud-native/dcgm@sha256:b00df073280c63426086af665d7d78f398fc39a1582c683aa76ba8168c001ca5                       application/vnd.docker.distribution.manifest.v2+json      sha256:b00df073280c63426086af665d7d78f398fc39a1582c683aa76ba8168c001ca5 254.1 MiB linux/amd64                                                                io.cri-containerd.image=managed 
nvcr.io/nvidia/cloud-native/gpu-operator-validator:v1.8.2                                                                      application/vnd.docker.distribution.manifest.v2+json      sha256:a07fd1c74e3e469ac316d17cf79635173764fdab3b681dbc282027a23dbbe227 122.6 MiB linux/amd64                                                                io.cri-containerd.image=managed 
nvcr.io/nvidia/cloud-native/gpu-operator-validator@sha256:a07fd1c74e3e469ac316d17cf79635173764fdab3b681dbc282027a23dbbe227     application/vnd.docker.distribution.manifest.v2+json      sha256:a07fd1c74e3e469ac316d17cf79635173764fdab3b681dbc282027a23dbbe227 122.6 MiB linux/amd64                                                                io.cri-containerd.image=managed 
nvcr.io/nvidia/gpu-feature-discovery:v0.4.1                                                                                    application/vnd.docker.distribution.manifest.v2+json      sha256:bfc39d23568458dfd50c0c5323b6d42bdcd038c420fb2a2becd513a3ed3be27f 86.0 MiB  linux/amd64                                                                io.cri-containerd.image=managed 
nvcr.io/nvidia/gpu-feature-discovery@sha256:bfc39d23568458dfd50c0c5323b6d42bdcd038c420fb2a2becd513a3ed3be27f                   application/vnd.docker.distribution.manifest.v2+json      sha256:bfc39d23568458dfd50c0c5323b6d42bdcd038c420fb2a2becd513a3ed3be27f 86.0 MiB  linux/amd64                                                                io.cri-containerd.image=managed 
nvcr.io/nvidia/gpu-operator:v1.8.2                                                                                             application/vnd.docker.distribution.manifest.v2+json      sha256:2097beb34a61d906dd86d6784a4435de778c5a771865d06b60b6989f602741fd 113.6 MiB linux/amd64                                                                io.cri-containerd.image=managed 
nvcr.io/nvidia/gpu-operator@sha256:2097beb34a61d906dd86d6784a4435de778c5a771865d06b60b6989f602741fd                            application/vnd.docker.distribution.manifest.v2+json      sha256:2097beb34a61d906dd86d6784a4435de778c5a771865d06b60b6989f602741fd 113.6 MiB linux/amd64                                                                io.cri-containerd.image=managed 
nvcr.io/nvidia/k8s-device-plugin:v0.9.0-ubi8                                                                                   application/vnd.docker.distribution.manifest.v2+json      sha256:85def0197f388e5e336b1ab0dbec350816c40108a58af946baa1315f4c96ee05 88.6 MiB  linux/amd64                                                                io.cri-containerd.image=managed 
nvcr.io/nvidia/k8s-device-plugin@sha256:85def0197f388e5e336b1ab0dbec350816c40108a58af946baa1315f4c96ee05                       application/vnd.docker.distribution.manifest.v2+json      sha256:85def0197f388e5e336b1ab0dbec350816c40108a58af946baa1315f4c96ee05 88.6 MiB  linux/amd64                                                                io.cri-containerd.image=managed 
nvcr.io/nvidia/k8s/container-toolkit:1.5.0-ubuntu18.04                                                                         application/vnd.docker.distribution.manifest.v2+json      sha256:0524041a9157a0e2c807f7c948c6878874f87958546ca128a3f82efd76d79b25 105.5 MiB linux/amd64                                                                io.cri-containerd.image=managed 
nvcr.io/nvidia/k8s/container-toolkit@sha256:0524041a9157a0e2c807f7c948c6878874f87958546ca128a3f82efd76d79b25                   application/vnd.docker.distribution.manifest.v2+json      sha256:0524041a9157a0e2c807f7c948c6878874f87958546ca128a3f82efd76d79b25 105.5 MiB linux/amd64                                                                io.cri-containerd.image=managed 
nvcr.io/nvidia/k8s/dcgm-exporter:2.2.9-2.4.0-ubuntu20.04                                                                       application/vnd.docker.distribution.manifest.v2+json      sha256:25d60a39b316702809d9645d175fea0aa8e51fddf749e334ae2f033a0590485f 263.0 MiB linux/amd64                                                                io.cri-containerd.image=managed 
nvcr.io/nvidia/k8s/dcgm-exporter@sha256:25d60a39b316702809d9645d175fea0aa8e51fddf749e334ae2f033a0590485f                       application/vnd.docker.distribution.manifest.v2+json      sha256:25d60a39b316702809d9645d175fea0aa8e51fddf749e334ae2f033a0590485f 263.0 MiB linux/amd64                                                                io.cri-containerd.image=managed 
quay.io/brancz/kube-rbac-proxy:v0.8.0                                                                                          application/vnd.docker.distribution.manifest.list.v2+json sha256:05e15e1164fd7ac85f5702b3f87ef548f4e00de3a79e6c4a6a34c92035497a9a 19.1 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
quay.io/brancz/kube-rbac-proxy@sha256:05e15e1164fd7ac85f5702b3f87ef548f4e00de3a79e6c4a6a34c92035497a9a                         application/vnd.docker.distribution.manifest.list.v2+json sha256:05e15e1164fd7ac85f5702b3f87ef548f4e00de3a79e6c4a6a34c92035497a9a 19.1 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
quay.io/prometheus-operator/prometheus-config-reloader:v0.47.0                                                                 application/vnd.docker.distribution.manifest.list.v2+json sha256:0029252e7cf8cf38fc58795928d4e1c746b9e609432a2ee5417a9cab4633b864 4.6 MiB   linux/amd64,linux/arm,linux/arm64                                          io.cri-containerd.image=managed 
quay.io/prometheus-operator/prometheus-config-reloader@sha256:0029252e7cf8cf38fc58795928d4e1c746b9e609432a2ee5417a9cab4633b864 application/vnd.docker.distribution.manifest.list.v2+json sha256:0029252e7cf8cf38fc58795928d4e1c746b9e609432a2ee5417a9cab4633b864 4.6 MiB   linux/amd64,linux/arm,linux/arm64                                          io.cri-containerd.image=managed 
quay.io/prometheus-operator/prometheus-operator:v0.47.0                                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:89a2d121b1a8f9a4a45dd20fdcf081a4468a0a0ad4e0cbe1aa7fd289e5a85cb3 12.5 MiB  linux/amd64,linux/arm,linux/arm64                                          io.cri-containerd.image=managed 
quay.io/prometheus-operator/prometheus-operator@sha256:89a2d121b1a8f9a4a45dd20fdcf081a4468a0a0ad4e0cbe1aa7fd289e5a85cb3        application/vnd.docker.distribution.manifest.list.v2+json sha256:89a2d121b1a8f9a4a45dd20fdcf081a4468a0a0ad4e0cbe1aa7fd289e5a85cb3 12.5 MiB  linux/amd64,linux/arm,linux/arm64                                          io.cri-containerd.image=managed 
quay.io/prometheus/alertmanager:v0.21.0                                                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:24a5204b418e8fa0214cfb628486749003b039c279c56b5bddb5b10cd100d926 25.8 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
quay.io/prometheus/alertmanager@sha256:24a5204b418e8fa0214cfb628486749003b039c279c56b5bddb5b10cd100d926                        application/vnd.docker.distribution.manifest.list.v2+json sha256:24a5204b418e8fa0214cfb628486749003b039c279c56b5bddb5b10cd100d926 25.8 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
quay.io/prometheus/blackbox-exporter:v0.18.0                                                                                   application/vnd.docker.distribution.manifest.list.v2+json sha256:1ffc3f109eb39c89df16cdaf359cb9127d4ca2b5313724e939c2c8769aff8176 9.7 MiB   linux/amd64,linux/arm,linux/arm64,linux/ppc64le                            io.cri-containerd.image=managed 
quay.io/prometheus/blackbox-exporter@sha256:1ffc3f109eb39c89df16cdaf359cb9127d4ca2b5313724e939c2c8769aff8176                   application/vnd.docker.distribution.manifest.list.v2+json sha256:1ffc3f109eb39c89df16cdaf359cb9127d4ca2b5313724e939c2c8769aff8176 9.7 MiB   linux/amd64,linux/arm,linux/arm64,linux/ppc64le                            io.cri-containerd.image=managed 
quay.io/prometheus/node-exporter:v1.1.2                                                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:22fbde17ab647ddf89841e5e464464eece111402b7d599882c2a3393bc0d2810 12.1 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
quay.io/prometheus/node-exporter@sha256:22fbde17ab647ddf89841e5e464464eece111402b7d599882c2a3393bc0d2810                       application/vnd.docker.distribution.manifest.list.v2+json sha256:22fbde17ab647ddf89841e5e464464eece111402b7d599882c2a3393bc0d2810 12.1 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
quay.io/prometheus/prometheus:v2.26.0                                                                                          application/vnd.docker.distribution.manifest.list.v2+json sha256:38d40a760569b1c5aec4a36e8a7f11e86299e9191b9233672a5d41296d8fa74e 63.7 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
quay.io/prometheus/prometheus@sha256:38d40a760569b1c5aec4a36e8a7f11e86299e9191b9233672a5d41296d8fa74e                          application/vnd.docker.distribution.manifest.list.v2+json sha256:38d40a760569b1c5aec4a36e8a7f11e86299e9191b9233672a5d41296d8fa74e 63.7 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
sha256:04fcc70194086eb9118c8a015dc455c0f7f0249b10346f8b03f97d86ae99fb0c                                                        application/vnd.docker.distribution.manifest.v2+json      sha256:72ec82512d622434a33b3ab0706d5ce4665f50e2b2218516c01fdbbc9ecc2bd7 277.2 MiB linux/amd64                                                                io.cri-containerd.image=managed 
sha256:0857bcbd38c97ea11c1366f689b52cbe308cfcecb5f4a8482c9895b442b2b5e3                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:0f101fabf4b63883d4529435f75b1e8816dcc8915e8fa7d28aa6e50a15e9ea6a 13.4 MiB  linux/amd64,linux/arm,linux/arm64,linux/mips64le,linux/ppc64le,linux/s390x io.cri-containerd.image=managed 
sha256:156357f4d381267266ddb9f9dc87baf111203eaa96d98505bbe0591c1851870c                                                        application/vnd.docker.distribution.manifest.v2+json      sha256:b00df073280c63426086af665d7d78f398fc39a1582c683aa76ba8168c001ca5 254.1 MiB linux/amd64                                                                io.cri-containerd.image=managed 
sha256:18e606b7547d1955d9d5cbefd23466971ad10d248156c9b25bff68df928e13fb                                                        application/vnd.docker.distribution.manifest.v2+json      sha256:25d60a39b316702809d9645d175fea0aa8e51fddf749e334ae2f033a0590485f 263.0 MiB linux/amd64                                                                io.cri-containerd.image=managed 
sha256:2832d3d94eb9f8d7ed51429e1d6f068725cc6321f3b3abade338529a889fddd5                                                        application/vnd.docker.distribution.manifest.v2+json      sha256:bfc39d23568458dfd50c0c5323b6d42bdcd038c420fb2a2becd513a3ed3be27f 86.0 MiB  linux/amd64                                                                io.cri-containerd.image=managed 
sha256:2dfec5a2bc938e83552a25dd8d0cc88ab5e4402e2458ce9c62031aaa3c340149                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:0029252e7cf8cf38fc58795928d4e1c746b9e609432a2ee5417a9cab4633b864 4.6 MiB   linux/amd64,linux/arm,linux/arm64                                          io.cri-containerd.image=managed 
sha256:48d79e554db69811a12d0300d8ad5da158d134d575d8268902430d824143eb49                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:1f977343873ed0e2efd4916a6b2f3075f310ff6fe42ee098f54fc58aa7a28ab7 14.4 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
sha256:57146f1c77885852bbee6961a207701b4230574e9d33f8272ea8d534ea22b3a1                                                        application/vnd.docker.distribution.manifest.v2+json      sha256:b011c0df5ecb46104ddf62d58ce6993d67c4843cbf3864aab68960a2c6aacac8 1.8 GiB   linux/amd64                                                                io.cri-containerd.image=managed 
sha256:592348d048da82bcd50bc99b99393e083d0a57fb9eb3888c6113a2de4c062890                                                        application/vnd.docker.distribution.manifest.v2+json      sha256:a07fd1c74e3e469ac316d17cf79635173764fdab3b681dbc282027a23dbbe227 122.6 MiB linux/amd64                                                                io.cri-containerd.image=managed 
sha256:6c9db12276e3b54bd329bcf250847c56ca179b4b7da79b72d754c29e13467920                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:ba39bf5131dcc0464134a3ff0e26e8c6380415249fa725e5f619176601255172 62.2 MiB  linux/amd64,linux/arm,linux/arm64                                          io.cri-containerd.image=managed 
sha256:6d16063456eb5a4e0ad1089ee69bf92ead2dc03acad1d7abded83073217c15e9                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:11e006ccc6399880360f6bafaf8545892fe3c92959074297205937496f8baa86 63.8 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
sha256:6d6859d1a42a2395a8eacc41c718a039210b377f922d19076ebbdd74aa047e89                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:38d40a760569b1c5aec4a36e8a7f11e86299e9191b9233672a5d41296d8fa74e 63.7 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
sha256:7d5bc9298b9f9618911efb7b058c527f47945651768d9dd8a4f927ba79d62a83                                                        application/vnd.docker.distribution.manifest.v2+json      sha256:2097beb34a61d906dd86d6784a4435de778c5a771865d06b60b6989f602741fd 113.6 MiB linux/amd64                                                                io.cri-containerd.image=managed 
sha256:9d7c9987f24e84f3683c95d07d245e556466f4a76ad677462c331ab3f130a25c                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:b874cc7a126077cc062d698953450b8c459140dad53d65d6903c9f9489cb1afe 24.1 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
sha256:ab768d7a914ffead3d0fe5da418af51ad8c26037d2f3f72f07021ea1ea95f93a                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:baeaa86e59194d2707be3b708b5ef157fe09738605bdabffc5a4a7cc7560b7d7 8.8 MiB   linux/amd64,linux/arm/v7,linux/arm64,linux/ppc64le                         io.cri-containerd.image=managed 
sha256:ad393d6a4d1b1ccbce65c2a4db6064635a8aac883d9dd66a38e14ce925e93b7f                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:05e15e1164fd7ac85f5702b3f87ef548f4e00de3a79e6c4a6a34c92035497a9a 19.1 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
sha256:b32d9aace6923b8bafd93d00bec7ba548310b198bba38a1ff6562690be381efa                                                        application/vnd.docker.distribution.manifest.v2+json      sha256:0524041a9157a0e2c807f7c948c6878874f87958546ca128a3f82efd76d79b25 105.5 MiB linux/amd64                                                                io.cri-containerd.image=managed 
sha256:c19ae228f0699185488b6a1c0debb9c6b79672181356ad455c9a7924a41a01bb                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:22fbde17ab647ddf89841e5e464464eece111402b7d599882c2a3393bc0d2810 12.1 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
sha256:c59896fc7ca446a841242e4d09b93600dc828a849f615369bd9c69fa65b439bb                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:acb402642ba8a9a28eda86d9cd3eef97976dd339c11e33863faeae4e00682e12 70.6 MiB  linux/amd64,linux/arm/v7,linux/arm64,linux/ppc64le                         io.cri-containerd.image=managed 
sha256:c876f5897d7b07a19836227e26de9053c4ae14c114e43635df6fdb4a4b251ba6                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:24a5204b418e8fa0214cfb628486749003b039c279c56b5bddb5b10cd100d926 25.8 MiB  linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
sha256:c95ddb97ba59c46acef5fbd8c4aa5d7e0a52c63f963e7a43227c4280de6988ed                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:f71a293e43f66c8f3d2435a3d56ed53cbb1bcf539dcfe7fe2cc64d4258f4f792 52.1 MiB  linux/amd64,linux/arm/v7,linux/arm64,linux/ppc64le                         io.cri-containerd.image=managed 
sha256:cc8c6c9cc9f491cd1bb2d7bc32043faa4caaf0e810e233a9babec583c4137c1b                                                        application/vnd.docker.distribution.manifest.v2+json      sha256:c1fe51202dad3b4d3124359afc5c6a7671a8d62f5c860dd780da48f75cc7f282 106.6 MiB linux/amd64                                                                io.cri-containerd.image=managed 
sha256:cd93629acb44895f489af69964ca984d7c99ba9518d14a3cb73c70877a023473                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:89a2d121b1a8f9a4a45dd20fdcf081a4468a0a0ad4e0cbe1aa7fd289e5a85cb3 12.5 MiB  linux/amd64,linux/arm,linux/arm64                                          io.cri-containerd.image=managed 
sha256:d771cc9785a13659c0e9363cae1d238bb58114a3340f805564daaed2494475f8                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:904d08e9f701d3d8178cb61651dbe8edc5d08dd5895b56bdcac9e5805ea82b52 3.9 MiB   linux/amd64,linux/arm,linux/arm64,linux/ppc64le,linux/s390x                io.cri-containerd.image=managed 
sha256:da86e6ba6ca197bf6bc5e9d900febd906b133eaa4750e6bed647b0fbe50ed43e                                                        application/vnd.docker.distribution.manifest.v2+json      sha256:0968e31df05b727234888883ba43ccaa4ec75566113c75065af5a6124b62d93c 729.0 KiB linux/amd64                                                                io.cri-containerd.image=managed 
sha256:def5ee20a468cd85ca1bb6ab25969ed2af5bd8614a48725c6ebb4eeb7ad6c1b5                                                        application/vnd.docker.distribution.manifest.v2+json      sha256:d1b9f583181dbc96c92fbab17228f70f0b9c1e8950216e198802c580a81e5216 33.1 MiB  linux/amd64                                                                io.cri-containerd.image=managed 
sha256:f1de15d70851b1b506f4d0800f847bf6767a3a100baf9be8685e78bc3640db28                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:36acb85e6080a3a894ea5f92f20dabd1179061f5ecb079a49913bbdfb714ad09 76.8 MiB  linux/amd64,linux/arm/v7,linux/arm64,linux/ppc64le                         io.cri-containerd.image=managed 
sha256:f73640fb506199d02192ef1dc99404aeb1afec43a9f7dad5de96c09eda17cd71                                                        application/vnd.docker.distribution.manifest.v2+json      sha256:e8ac01de9bc19a6c49fc1caabf162cf1b23342188327846ee8c75b30dd72f57c 62.6 MiB  linux/amd64                                                                io.cri-containerd.image=managed 
sha256:f99b445ceffbfde435be1c1b6de4e00902f6aaf4443343fce8ab7929d54786c0                                                        application/vnd.docker.distribution.manifest.v2+json      sha256:85def0197f388e5e336b1ab0dbec350816c40108a58af946baa1315f4c96ee05 88.6 MiB  linux/amd64                                                                io.cri-containerd.image=managed 
sha256:fd1563338c7170b9eca428ca2473ef37446d545568d86158e50c6032e218777e                                                        application/vnd.docker.distribution.manifest.list.v2+json sha256:1ffc3f109eb39c89df16cdaf359cb9127d4ca2b5313724e939c2c8769aff8176 9.7 MiB   linux/amd64,linux/arm,linux/arm64,linux/ppc64le                            io.cri-containerd.image=managed